# audit2allow fixes wrt external/mesa3d project update to mesa-18.0
allow bootanim device:dir { open read };
allow bootanim gpu_device:chr_file { getattr ioctl map open read write };
#allow bootanim sysfs_mdss:dir search;
#allow bootanim sysfs_mdss:file { getattr open read };
